# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# Database files
*.sqlite
*.db
*.pkl

# Data files
data/raw/
data/processed/

# Configuration files
config/config.py

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
